.container {
	width: 700px;
	margin: 0 auto;
}

.menu {
    margin-top: 25px;
    margin-bottom: 25px;
    border-width: 1px;
}

#imgrupal {
	width: 700px;
}

#navigation {
	padding: 0px 50px;
}

li {
	font-size: 25px;
	display: inline;
	padding: 5px
}

p {
	width: 400px;
	font-size: 25px;
	text-align: center;
	margin-left: 150px;
}

h2 {
	margin: 5px;
}

.hrp {
	width: 50px;
    margin-top: 30px;
    margin-bottom: 30px;
}

.hrh2 {
	width: 50px;
	border-width: 3px;
	margin-bottom: 10px;
	margin-top: 10px;
	float: left;
}

.galerias {
	
	padding: 10px;
	display: inline-block;
}
img {
	padding: 4px;
}